@charset "utf-8";
/* CSS Document */
.box{width:1350px;margin:0 auto;}
.xiala{display:inline-block;transform:rotateZ(90deg);margin-left:9px;}
.db{width:100%;height:44px;background:#F5F5F5;border-bottom:1px solid #EEEEEE;}
.db_ct .db_ct_lt{float:left;font-size:12px;line-height:44px;}
.db_ct .db_ct_lt .logn{color:#F22E00;}
.db_ct .db_ct_rt{float:right;}
.db_ct .db_ct_rt li{float:left;}
.db_ct .db_ct_rt .ling{margin-top:15px;}
.db_ct .db_ct_rt .gwc{}
.db_ct .db_ct_rt .scj{height:108px;width:92px;}
.db_ct .db_ct_rt li a{display:inline-block;font-size:12px;width:79px;height:36px;line-height:36px;text-align:center;}
.db_ct .db_ct_rt .shuxian{margin-top:9px;display: inline-block;margin-left:16px;margin-right:16px;font-size:12px;}
.db_ct_rt .wdtb{width:88px;height:100px;background:#fff;border:1px solid #EEEEEE;}
.db_ct_rt .wdtb li{width:100%;height:28px;line-height:28px;text-align:center;font-size:12px;color:#6B6B6B;}
.db_ct_rt .scjj li{width:100%;height:28px;line-height:28px;text-align:center;font-size:12px;color:#6B6B6B;}
.db_ct_rt .scjj {width:79px;height:82px;margin-top:-3px;background:#fff;margin-left:12px;border:1px solid #EEEEEE;}
.db_ct_rt .wdtbb{width:88px;height:136px;position:relative;}
.db_ct_rt .wdtb{position:absolute;top:34px;left:0;}
.db_ct_rt li .wdtb,.scjj{display:none;}
.db_ct_rt .gwc{position:relative;}
.db_ct_rt .gwcc{position:absolute;top:30px;left:0;display:none;line-height:44px;width:300px;height:44px;background:#fff;border:1px solid #EEEEEE;font-size:14px;}
.db_ct_rt .gwcc .ckan{display:inline-block;width:103px;height:25px;background:red;color:#fff;line-height:25px;text-align:center;}
.db_ct_rt .gwc:hover .gwcc{display:block;}
.db_ct_rt .wdtbb:hover .wdtb{display: block;}
.db_ct_rt .wdtbb:hover a{background:#fff;width:77px;height:34px;border:1px solid #EEEEEE;border-bottom:none;border-top:none;}
.db_ct_rt .scj{position:relative;}
.db_ct_rt .scj .scjj{position:absolute;top:30px;left:0;} 
.db_ct_rt .scj:hover .scjj{display: block;}
.db_ct_rt .scj:hover a{background:#fff;}
.ss{height:225px;margin-top:-20px;}
.ss .ss_lt {width:968px;height:91px;float:left;}
.ss .ssk{width:440px;height:38px;border:3px solid #FF4400;padding-left:99px;}
.ss .sskk{width:93px;height:44px;background:#FF4400;font-size:14px;color:#fff;}
.ss .ss_lt .ss_lt_rt{width:680px;height:38px;float:right;position:relative;}
.ss .fdj{position:absolute;left:83px;top:17px;}
.ss .ss_lt .ss_lt_rt .kxia{font-size:12px;margin-top:10px;display:inline-block;}
.ss .ss_lt .gd{display:inline-block;width:38px;height:18px;border:1px solid #6C6C6C;font-size:12px;line-height:18px;text-align:center;}
.ss .ss_lt .gjss{display:inline-block;width:28px;height:39px;font-size:12px;float:right;margin-top:-39px;margin-left:19px;}
.ss .ss_rt{float:right;position:relative;}
.ss .ss_lt .xl{position:absolute;left:2px;top:3px;width:73px;height:39px;border-right:1px solid #EEEEEE;text-align:center;}
.ss .ss_rt .cz{position: absolute;left:-2px;top:0; cursor: pointer;}
.cs {height:545px;}
.cs .cs_lt{width:187px;height:524px;border:1px solid #BBBBBB;float:left;}
.cs .cs_lt .sever{display:inline-block;width:175px;height:41px;margin-left:-2px;padding-left:15px;background:#FF4400;color:#fff;line-height:41px;}
.cs_lt .zts{height:34px;line-height:34px;margin-left:5px;background:url(../images/zt1.png)no-repeat left center;padding-left:35px;}
.cs_lt .zts2{height:34px;line-height:34px;margin-left:5px;background:url(../images/ts1.gif)no-repeat left center;padding-left:35px;}
.cs_lt .zts3{height:34px;line-height:34px;margin-left:5px;background:url(../images/yh1.gif)no-repeat left center;padding-left:35px;}
.cs_lt .zts4{height:34px;line-height:34px;margin-left:5px;background:url(../images/gj1.gif)no-repeat left center;padding-left:35px;}
.cs_lt .ztsc .zt{width:176px;height:110px;margin-left:5px;border-bottom:1px solid #DEDEDE;}
.cs_lt .ztsc .zt li{float:left;margin-right:14px;font-size:12px;margin-bottom:5px;}
.cs_lt .ztsc .zt li:nth-of-type{margin-right:0;}
.cs_rt{width:1002px;height:530px;float:right;}
.cs_rt_tp{font-size:16px;width:999px;height:39px;border-bottom:2px solid #FF4400;}
.cs_rt_tp .tm{margin-left:10px;}
.cs_rt_tp .tm li{float:left;color:#FF4200;margin-right:37px;line-height:39px;}
.cs_rt_tp .pm li{float:left;margin-right:33px;line-height:39px;}
.cs_rt_tp .bz{float:right;line-height:39px;font-size:12px;margin-left:20px;}
.cs_rt_lt {margin-top:5px;}
.cs_rt_lt_l{width:520px;height:280px;overflow: hidden;position:relative;float:left;}
.cs_rt_lt_l .lunbo{width:2100px;height:280px;position: absolute;left:-1041px;top:0;}
.cs_rt_lt_l .lunbo li{float:left;width:520px;height:280px;}
.cs_rt_lt_l a{font-size:30px;color:white;width:38px;height:38px;background:black;line-height:38px;text-align:center;}
.cs_rt_lt_l .you{position:absolute; right:0;top:50%;margin-top:-25px;}
.cs_rt_lt_l .zuo{position:absolute; left:0;top:50%;margin-top:-25px;}
.cs_rt_lt_l .you:hover{background:rgba(0,0,0,.35);}
.cs_rt_lt_l .zuo:hover{background:rgba(0,0,0,.35);}
.cs_rt_lt .lb4{margin-top:-2px;}

.cs_rt_rt {margin-top:5px;}
.cs_rt_rt_l{width:520px;height:199px;overflow: hidden;position:relative;float:left;}
.cs_rt_rt_l .lunbo{width:2100px;height:199px;position: absolute;left:-1041px;top:0;}
.cs_rt_rt_l .lunbo li{float:left;width:520px;height:199px;}
.cs_rt_rt_l a{font-size:30px;color:white;width:38px;height:38px;background:black;line-height:38px;text-align:center;}
.cs_rt_rt_l .you{position:absolute; right:0;top:50%;margin-top:-15px;}
.cs_rt_rt_l .zuo{position:absolute; left:0;top:50%;margin-top:-15px;}
.cs_rt_rt_l .you:hover{background:rgba(0,0,0,.35);}
.cs_rt_rt_l .zuo:hover{background:rgba(0,0,0,.35);}
.cs_rt_rt .lb4{margin-top:-2px;}
.cs_rt_bm .left{float:left;width:692px;height:482px;}
.right{width:289px;height:481px;border:1px solid #F7F7F7;float:right;}
.left_top {font-size:12px;width:291px;height:90px;margin-top:5px;}
.left_top .xxk {width:289px;height:30px;}
.left_top .xxk li{float:left;width:57px;height:27px;text-align:center;line-height:27px;border-bottom:1px solid #F7F7F7;;}
.left_top .neirong{border-bottom:1px solid #F7F7F7;width:290px;height:58px;}
.left_top .xxk li:hover{background:#F7F7F7;}
#con .show{display:block;}
#con .li{display:block;}
#tabls .on{background:#F7F7F7;}
.neirong li{display:none;}
.left_top .neirong .bj{background:#F7F7F7;}
.left_top .neirong .bj2{width:290px;height:59px;background:pink;}
.left_top .neirong .bj3{width:272px;height:59px;background:blue;}
.neirong dl{margin-left:18px;}
.neirong dl dd{float:left;margin-right:16px;padding-top:8px;}
.orange{color:red;}
.nihao{width:291px;height:114px;border-bottom:1px solid #DDDDDD;} 
.nihao.nihao_tp{height:65px;margin-left:14px;}
.nihao_tp .fdong{float:right;margin-right:10px;}
.nihao_tp span{margin-top:5px;margin-left:5px;padding:0 6px;display:inline-block;height:28px;background:#FFEFE7;border:1px solid #FEC0A4;color:#FF4300;font-size:14px;line-height:28px;text-align: center;}
.nihao_tp .jb{display:inline-block;width:18px;height:18px;background:url(../images/nih3.png)no-repeat left center;}
.nihao_bm li{font-size:12px;text-align:center;padding:0 13px;margin-left:5px;float:left;line-height:35px;height:35px;color:white;background:#FF4300;}
.nihao_bm i{padding-right:11px;background:url(../images/dl.gif)no-repeat left center;width:13px;height:17px;display:inline-block;}
.nihao_bm .dlu{padding:0 25px;}
.nihao_bm{margin-top:10px;margin-left:14px;}
.left_bottom{width:291px;height:281px;}
.left_bottom .xnav{padding-left:16px;width:272px;height:109px;background:#F4F4F4;border-bottom:1px solid #DDDDDD;}
.left_bottom h6{font-size:14px;height:42px;line-height:42px;margin-top:3px;}
.left_bottom ul li{float:left;font-size:12px;width:55px;height:65px;background:#fff;margin-right:10px;border:1px solid #E6E6E6;}
.left_bottom .xnav p{width:27px;height:24px;margin:11px 16px;}
.left_bottom .xnav a{display:block;margin-top:6px;}
.left_bottom ul li:hover a{color:red;}
.left_bottom .neir{width:288px;height:171px;font-size:12px;position: relative;}
.left_bottom .neir form{margin-top:27px;position:relative;margin-left:10px;}
.left_bottom .neir form select{margin-top:8px;padding-left:25px; color:#AFAFAF;}
.left_bottom .neir .fd{border:1px solid #E5E5E5;width:178px;height:20px;}
.left_bottom .neir .hm,.mz{display:inline-block;width:28px;height:18px;background:#E5E5E5;text-align:center;line-height:18px;}
.left_bottom .neir .je{border:1px solid #E5E5E5;width:178px;height:20px;}
.left_bottom .neir .hm{position:absolute;left:1px;top:9px; }
.left_bottom .neir .mz{position:absolute;left:1px;top:37px; }
.left_bottom .neir .dhb{position:absolute;left:161px;top:10px; }
.left_bottom .neir .cz{margin-left:10px;}
.left_bottom .neir .cz p{height:30px;line-height:30px;}
.left_bottom .neir .cz .dq,.lj{display:inline-block;width:72px;height:27px;line-height:27px;text-align:center;}
.left_bottom .neir .cz .dq{background:#FF4300;color:white;}
.left_bottom .neir .cz .lj{border:1px solid #B7B7B7;}
.left_bottom .neir .cz .gz{color:#999999;}
.left_bottom .neir .ch{position:absolute;right:10px;top:-20px;}
.rd{height:64px;border:1px solid #E5E5E5;background:#F5F5F5;margin-top:20px;}
.rd>li{width:25%;margin-top:15px;float:left;}
.rd .dqrd h5{width:50px;height:35px;float:left;}
.rd .dqrd .dqrdul {margin-left:52px;width:170px;height:35px;font-size:12px;background:url(../images/rd_1.png)no-repeat left center;padding-left:10px;}
.rd .dqrd li{float:left;margin-left:7px;line-height:22px;}
.rd .tbmd {margin-top:0;width:265px;}
.rd .tbmd .tup{float:left;margin-top:-5px;margin-right:20px;}
.rd .tbmd .nr{margin-top:15px;}
.rd .tbmd .md {font-size:12px;display:inline-block;width:76px;height:18px;background:red;color:white;line-height:18px;text-align:center;}
.content {height:2136px;margin-top:20px;}
.content .content_lt{width:878px;background:pink;height:100%;float:left;}
.content_lt .content_lt_tp1{height:623px;}
.content_lt .content_lt_tp1>li{height:304px;width:50%;float:left;margin-top:10px;}
.content_lt .content_lt_tp1 .bt{height:38px;line-height:38px;}
.content_lt .content_lt_tp1 .bt span{font-size:12px;margin-left:10px;}
.content_lt .content_lt_tp1 .bt h4{float:left;}
.content_lt .content_lt_tp1 .jrhd{background:url(../images/jrh1.gif)no-repeat left center;
	padding-left:19px;}
.ct {width:332px;height:258px;border:1px solid #E5E5E5;
	background:url(../images/nan1.gif)no-repeat left center;padding-left:100px;}
.ct .ct_kuang .ct_bj{font-size:12px;}
.ct .ct_kuang h5{line-height:27px;float:left;font-size:14px;margin-right:16px;}

.ct .ct_kuang .ct_bj span{padding: 0 5px;}
.ct .ct_kuang{width:270px;height:233px;margin-left:20px;margin-top:20px;}
.ct .ct_kuang .ct_bj li{height:27px;line-height:27px;}
.ct .ct_kuang .ct_bj .zh{border-bottom:1px solid #E5E5E5;}
.content_lt .imag{margin-top:20px;}
.content_rt{height:1619px;width:286px;float:right;}
.content_rt .content_rt_top{width:286px;border:1px solid #E5E5E5;background:#F5F5F5;}
.content_rt1 h5{margin-left:13px;height:38px;line-height:38px;margin-top:8px;background:url(../images/tx.gif)no-repeat left center;padding-left:24px;}
.content_rt1>ul{margin-left:13px;width:254px;border:1px solid #E5E5E5;background:white;}
.content_rt1>ul>li{width:254px;height:136px;border-bottom:1px solid #E5E5E5;}
.content_rt1 .sjb{float:left;margin-left:17px;margin-top:14px;}
.content_rt1 .rong{width:125px;height:99px;padding-left:122px;padding-top:20px;line-height:22px;font-size:12px;}
.content_rt1 h6{font-size:14px;height:24px;line-height:24px;}
.content_rt1 .hou{height:240px;width:254px;}
.content_rt1 .hou>ul{width:213px;height:210px;margin-top:22px;margin-left:22px;}
.content_rt1 .hou>ul>li{float:left;}
.content_rt1 .hyp{line-height:40px;height:40px;border-bottom:none;text-align:center;}
.content_rt1 .hypp{background:url(../images/hyp.gif)no-repeat left center;padding-left:29px;}
.content_rt2 h5{margin-left:13px;height:38px;line-height:38px;margin-top:8px;background:url(../images/xx.gif)no-repeat left center;padding-left:24px;}
.content_rt2>ul{margin-left:13px;width:254px;border:1px solid #E5E5E5;background:white;}
.content_rt2>ul>li{margin-left:15px;width:254px;height:179px;border-bottom:1px solid #E5E5E5;}
.content_rt2 .t_rt2_t{margin-top:16px;line-height:24px;font-size: 12px;background:url(../images/diar.gif)no-repeat left center;padding-left:54px;;}
.content_rt2 .t_rt2_m{font-size:12px;margin-top:13px;margin-right:5px;}
.content_rt2 .t_rt2_m>span{display:inline-block;padding:0 2px;}
.content_rt2 .t_rt2_b li{float:left;margin-right:9px;margin-top:12px;}
.content_rt2 .hyp{line-height:40px;height:40px;border-bottom:none;text-align:center;}
.content_rt2 .hypp{background:url(../images/hyp.gif)no-repeat left center;padding-left:29px;}
.tu5{margin-left:-10px;margin-top:20px;}

.mingxi{
	float: left;
	margin-top:34px;
	width: 190px;
	height: 363px;
	border:1px solid #ccc;
}
.mingxi p{
	width: 135px;
	height: 20px;
	display: inline-block;
	font-size: 16px;
	font-family: '微软雅黑';
}
.mingxi p span{
	padding-left:11px;
	display: inline-block;
	color:#FF4300;
	font-family: '宋体';
	font-size: 12px;

}
.zm{

	width: 169px;
	height: 48px;
	background-color: #F8F8F8;
}
.zm p{
	padding-left: 15px;
	width: 130px;
	height: 17px;
	display: inline-block;
	color: #B8B8B8;
	font-size: 12px;
	font-family: '宋体';
}
.tx_top{
	margin-top:10px;
	padding-left: 12px;
	width: 151px;
	height: 70px;
}
.renmng{
	width: 154px;
	height: 27px;
}
.renmng a{
	margin-top:10px;
	margin-left:16px;
	display: inline-block;
	float: left;
	font-family: '宋体';
	font-size: 12px;
	margin-right: 7px;
}
.lm{
	width: 167px;
	height: 43px;
}
.lm li{
    margin-right: 3px;
	line-height: 26px;
	float: left;
	font-family: '宋体';
	font-size: 12px;

}
.xbao{
	width: 169px;
	height: 335px;
	padding-left: 10px;
	padding-top:15px;
}
.rmdp_top p{
	float: left;
}
.rmdp_nav{
	float: right;
}
.rmdp_nav li{
	float: left;
	font-size: 12px;
	font-family: '宋体';
}
.rmdp{
	margin-top: 38px;
}
.mxkd{
	height: 400px;
}
.rmdp_top{
	height: 30px;
}
.rmdp_top p{
	display: inline-block;
	font-size: 16px;
	font-weight: bold;
	font-family: '微软雅黑';
}
.kaishi_la{
	margin-top: 20px;
}
.yueqian li{
	color: #3B3B3B;
	font-family: '宋体';
	font-size: 12px;
}
.kaishi_la{
	margin-right: 50px;
	float: left;
	width: 120px;
	height: 184px;
}
.rmdp_nr{
	height: 426px;
}
.rmdp{
	height: 657px;
}
.xfz_qx{
	margin-right: 80px;
	float: left;
	width: 204px;
	border-left: 1px solid #ccc;
}
.xfz_qx p{
	display: inline-block;
	width: 160px;
	height: 35px;
	background: url(dunpai.png) no-repeat left center;
	padding-left: 44px;
}
.qx_b{
	margin-top:10px;
	width: 199px;
	height: 38px;

}
.qx_b li{
	line-height: 20px;
	margin-right: 20px;
	float: left;
	font-size: 12px;
	color: #9B9B9B;
	font-family: '宋体';
}
.niwojia{
	padding-left: 20px;
}
.xiaofeiz{
	margin-top:86px;
	height: 100px;
	border-bottom: 2px solid #FF4400;
}
.dbxx_nav{
	width: 849px;
	height: 17px;
}
.dbxx_nav li{
	float: left;
	color: #6B6B6B;
	font-family: '宋体';
	font-size: 12px;
}
.zhegnti{
	width: 1121px;
	height: 24px;
	border-bottom: 1px solid #ccc;
}
.youyici_l{
	margin-top: 10px;
	height: 19px;
}
.youyici_l li{
	margin-right: 3px;
	float: left;
	color: #6B6B6B;
	font-family: '宋体';
	font-size: 12px;
}
.youyici_l1{
	margin-top:10px;
	width: 748px;
	height: 19px;
	color: #6B6B6B;
	font-family: '宋体';
	font-size: 12px;
}
.db_tu {
	margin-top:20px;
}
.db_tu li{
	margin-right: 20px;
	float: left;
}
.dbxx_left{
	float: left;
	width: 1121px;
	height: 150px;
}
.dbxx_right{
	float: right;
}