@charset "utf-8";
body{
	background: url(../img/bj.png);
}
header{
	height: 3.1rem;
	background-color: #ED8F6E;
	line-height: 3.1rem;
	text-align: center;
	border-bottom: 2px solid #B0AAA4;
	position: fixed;
	z-index: 2;
	width: 100%;
	display:block;
	top:0px;

}
header a{
	color:#fff;
}
.back{
	color: #fff;
	font-size: 1.125rem;
	display: inline-block;
	font-weight: bold;
}
.jess{
	width: 3.85rem;
	color: #fff;
	font-size: 0.8rem;
	margin:0 auto;
	font-weight: normal;
}
.portrait{
	padding-left:0.2rem;
	padding-right: 0.2rem;
	text-align: center;
	position: relative;
	margin-top:3.4rem;
}
.blue{
	width: 15.6rem;
	height: 10.5rem;
	overflow: hidden;
	margin-top:0.325rem;
}
.blue img{
	width: 15.6rem;
	height: 10.5rem;
}
.tx{
	width: 4.75rem;
	border-radius: 100%;
	position: relative;
	text-align: center;
	margin:0 auto;
}
.wz{
	position: absolute;
	top:41%;
	left: 39%;
}
.la{
	color: #fff;
	font-size: 0.6rem;
	margin-top: 0.675rem;
}
.lo{
	color: #A49F99;
	font-size: 0.4rem;
	padding-left: 0.625rem;
	height: 0.45rem;
}
.lo1{
	color: #85D2C5;
	font-size: 0.4rem;
}
.wz p{
	line-height: 1.45rem;
}
.toux{
	width:4.75rem;
	height: 4.75rem;
	border-radius: 50%;
}
#box {
		width:5.25rem;
		height:5.25rem;
		border-radius: 50%;
		position: absolute;
		overflow: hidden;
		top:0;
		left: 37%;
		margin-top: 0.475rem;
	}
	#imgs {
		position: absolute;
		top: 0;
		width: 10.5rem;
		height:5.25rem;
		border-radius: 50%;
		transition: .5s linear;
	}
	#imgs li {
		float: left;
	    width: 5.25rem;
		height: 5.25rem;
	}
	#imgs li img{
		width: 5.25rem;
		height: 5.25rem;
		border-radius: 50%;
	}
	#buttons {
		position: absolute;
		bottom: 87px;
		left: 0;
		width: 100%;
		text-align: center;
		font-size: 0;
	}
	#buttons span {
		display: inline-block;
		width: 10px;
		height: 10px;
		border-radius: 50%;
		margin: 0 5px;
		cursor: pointer;
		background-color: #ccc;
	}
	#buttons span.act,#buttons span:hover {
		background: #fff;
	}
	.a {
		position: absolute;
		top: 205px;
		width: 30px;
		height: 60px;
		text-align: center;
		line-height: 60px;
		font-size: 28px;
		color: #fff;
		background: #000;
		opacity: 0;
	}
	#box:hover .a {
		opacity: .5;
	}
	#box .a:hover {
		opacity: .9;
	}
	#prev {
		left: 0;
		border-top-right-radius: 50%;
		border-bottom-right-radius: 50%;
	}
	#next {
		right: 0;
		border-top-left-radius: 50%;
		border-bottom-left-radius: 50%;
	}
.follow{
	height: 2.15rem;
	line-height: 2.15;
	background-color: #fff;
	padding-top: 0.6rem;
	border-radius: 3px;
}
.fll li{
	float: left;
	width: 24%;
	border-right: 1px solid #FCFCFC;
	height: 2rem;
}
.fll li p{
	font-size: 0.5rem;
	color: #A49F99;
	font-size: 0.5rem;
	line-height: 0.875rem;
}
.jia{
	width: 3.875rem;
	height: 1.2rem;
	line-height: 1.2rem;
	text-align: center;
	background-color: #705D76;
	display: block;
	border-radius: 3px;
	padding-top:0.4rem;
	color: #85D2C5;
}
.hua{
	margin-left:0.55rem;
}
.sky{
	margin-top:0.4rem;
	margin-left: 0.2rem;
	margin-right: 0.2rem;
	text-align: center;
	margin-bottom: 2.4rem;
}
.sky li{
	float: left;
	width: 33%;
	margin-bottom:0.325rem;
}
.sky li:nth-child(3n){
	margin-right: 0rem;
}
.sky li img{
	width: 4.95rem;
	height: 5.05rem;
}
footer{
	width: 100%;
	height: 2.5rem;
	background-color:#685F55;
	position: fixed;
	bottom:0;
	left:0rem;
}
footer ul li{
	margin:0 1rem;
	float: left;
	line-height: 2.5rem;
}
footer ul .iconfont{
	font-size: 1.1rem;
	text-align:center;
	color:#766D64;
}
footer ul .active .iconfont{
	color:#F17E56;
	text-shadow: 0 2px 2px black;
}